.info-point{
  opacity: .4;
  fill: none;  
}

.info-point.active{
  opacity: 1;
}

.scroll-show div{
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff !important;
}
.no-shadow div{
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff !important;
}

.annotation-container{
  z-index: 1000;
}

.area{    
  fill: lightsteelblue;
  stroke-width: 0;
}
